.error_type {
	background: #FF3333;
	overflow: hidden;
	padding: 5px;
}

	.error_severity {
		display: block;
		padding: 5px;
		float: left;
	}
	
	.validator_type {
		float: left;
		display: block;
		padding: 5px;
	}
	
	.error_severity p, .validator_type p {
		margin: 0 0 0 0;
	}

#xml_window {
	height: 220px; 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	z-index: 1000; 
	background: #446671 url('/images/xml_controls_bg.png') top left repeat-x; 
	padding: 25px 0;
}

#xml_controls {
	height: 50px; 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	z-index: 1000; 
	background: #333; 
	padding: 5px 2px; 
	text-align: center;
}

.module_inspection_result {
  padding: 5px;
  margin: 0 0 20px 0;
	background: #FFF;
}

.first {
	padding-left: 5px;
}

.row {
	padding: 12px 0px 0px;
	clear: left;
	border-bottom: 1px solid #e0e0e0;
}

.data_field {
	overflow: hidden;
}

.field_review_controls {
	overflow: hidden;
}

.inspection_table_headers {
  color: #e0e0e0;
  background: #333;
}

.inspection_result_header {
  padding: 5px;
  text-align: left;
  overflow: hidden;
  margin: 15px 0 8px 0;
  background: #FFF;
}

.module_name {
  float: left;
}

.module_name h2 {
  margin: 0 0 0 0;
  color: #000;
}

.overall_inspection_status {
  float: right;
  background: #FFF;
  text-align: center;
  padding: 5px 0;
  margin: 0 0px 0 0;
}

.overall_inspection_status p {
  margin: 0 0 0 0;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5em;
	padding: 10px 3px;
}

.pending {
  background: #ff9933;
}

.passed {
  border: 2px solid #339933;
}

.failed {
  border: 2px solid #ff3333;
}

.pass  {
	background: #FFF url('/images/passed.png') center right no-repeat;
} 

.fail  {
	background: #fab7a4 url('/images/failed.png') center right no-repeat;;
}

.review  {
	border-top: 2px solid #ff9933;
	border-bottom: 2px solid #ff9933;
	background: #fed6ae url('/images/review.png') center right no-repeat;;
}

.not-tested {
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	background: #e0e0e0;
}

.inspection_controls {
  width: 300px;
  float: right;
}

ol#error_report_toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol#error_report_toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#error_report_toc a {
    background: #8cd7f6 url('/images/tab.png');
    color: #000;
    display: block;
    float: left;
    height: 2.75em;
    padding: 12px 10px 0;
    text-decoration: none;
}

ol#error_report_toc a:hover {
	  color: #FFF;
    background-color: #5e828c;
    background-position: 0 -45px;
}

ol#error_report_toc a:hover span {
    background-position: 100% -45px;
}

ol#error_report_toc li.current a {
    background-color: #48f;
    background-position: 0 -90px;
    color: #ffffff;
    font-weight: bold;
}

ol#error_report_toc li.current span {
    background-position: 100% -90px;
}

ol#error_report_toc span {
    background: url('/images/tab.png') 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

div.test_results {
    border-top: #000 solid 3px;
    clear: left;
    padding: 1em;
		overflow: hidden;
		background: #fff;
}

#test_summary_meta h3 {
	padding: 0 0 5px 0;
	border-bottom: 1px solid #e0e0e0;
	margin: 5px 0 3px 0;
}

.inspection_result_header h3 {
	padding: 0 0 0px 0;
	margin: 0px 0 0px 0;
}

.inspection_result_header span {
	float: right;
	padding: 3px 20px 0 0;
}

#launch_xml_window {
	font-size: 1.3em;
	color: #99e4fd;
	text-decoration: none;
}

#launch_xml_window:hover {
	color: #FFF;
}

.results_header {
	float: left;
	width: 225px;
}

#filter {
	float: right;
	width: 430px;
	padding: 5px;
	background: #eeeeee;
}

#filter .emp {
	float: left;
}

.emp {
	font-weight: bold;
	color: #45879b;
}

#xml_frame {
	overflow: auto;
	width: 845px;
	border: 5px solid yellow;
	height: 245px;
	margin-top: 25px;
}


/* NOT PRIORITY - PRINT THE TABLE HEAD ONCE */
div.tableContainer {
	clear: both;
	border: 5px solid #333333;
	height: 285px;
	overflow: auto;
	width: 845px
}
 
/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: hidden;
	width: 845px
}
 
/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 839px
}
 
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
	width: 845px
}
 
/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}
 
/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}
 
/* make the TH elements pretty */
thead.fixedHeader th {
	background: #45879b;
	border-left: 1px solid #555;
	border-right: 1px solid #888;
	border-top: 1px solid #555;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}
 
/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}
 
/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}
 
/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%
}
 
/* make TD elements pretty. */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

 
/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 200px
}
 
html>body thead.fixedHeader th + th {
	width: 240px
}
 
html>body thead.fixedHeader th + th + th {
	width: 316px
}

html>body thead.fixedHeader th + th + th + th {
	width: 316px
}

 
/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 200px
}
 
html>body tbody.scrollContent td + td {
	width: 240px
}
 
html>body tbody.scrollContent td + td + td {
	width: 300px
}

html>body tbody.scrollContent td + td + td + td{
	width: 300px
}