  <div id="filter" class="column span-8">
    <p class="emp">Filter warnings by status:</p>
    <input name="pass" type="checkbox" id="fieldPass" value="0" class="" checked="checked" /><label for="passed">Passed</label>
    <input name="review" type="checkbox" id="fieldReview" value="0" class="" checked="checked" /><label for="passed">Review</label>
    <input name="fail" type="checkbox" id="fieldFailed" value="0" class="" checked="checked" /><label for="passed">Failed</label>
    <input name="notest" type="checkbox" id="fieldNotTested" value="0" class="" checked="checked" /><label for="passed">Not Tested</label> 
  </div><!-- END FILTER-->
  
  
    <div id="tableContainer" class="tableContainer"> 
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable"> 
        <thead class="fixedHeader"> 
        	<tr> 
        		<th><a href="#">Error Type / Severity</a></th> 
        		<th><a href="#">Field Name</a></th> 
        		<th><a href="#">Message</a></th>
        		<th><a href="#">Result</a></th> 
        	</tr> 
        </thead>
        <tbody class="scrollContent">
        
        <%-
          errors.group_by(&:section).each do |section, section_errors|
        -%>
        
        <!-- MODULE SECTION HEADER -->
        <tr>
          <td class="section_header" colspan="4">
              <div class="section_title"><p><%= section.to_s.titleize %></p></div>
          </td>
        </tr>
        <!-- END MODULE SECTION HEADER -->

        <%= render :partial => "section_errors" , :locals => {:errors => section_errors } %>
        
        <%- end -%>
        </tbody>
      </table>
    </div><!--CLOSE table container -->

    <div class="column span-21 first" id="xml_frame">
      <h3>Vendor Generated XML</h3>
      <%= render :partial => "node" , :locals => {:doc => @xml_document} %>
    </div>
    
    
    
    
    
    

