  <div id="filter" class="column span-8">
    <h3>Filter warnings by severity:</h3>
    <input name="pass" type="checkbox" id="fieldPass" value="0" class="" checked="checked" /><label for="passed">Passed</label>
    <input name="review" type="checkbox" id="fieldReview" value="0" class="" checked="checked" /><label for="passed">Review</label>
    <input name="fail" type="checkbox" id="fieldFailed" value="0" class="" checked="checked" /><label for="passed">Failed</label>
    <input name="notest" type="checkbox" id="fieldNotTested" value="0" class="" checked="checked" /><label for="passed">Not Tested</label> 
  </div><!-- END FILTER-->
  
  
  <div id="template">

<%-
  errors.group_by(&:section).each do |section, section_errors|
-%>

    <div class="column span-21 module_inspection_result">
    	<div class="column span-21 inspection_result_header">
      <%- unless section.nil? -%>     
    	  <div class="column span-15 module_name">
    	    <h2><%= section.titleize %></h2>
    	  </div>
      <%- end -%>
    	  <div class="overall_inspection_status column span-3 pending">
    	    <p>PENDING</p>
    	  </div>
    	</div>

      <%= render :partial => "section_errors", :locals => { :errors => section_errors } %>

    </div><!--CLOSE MODULE INSPECTION RESULT -->

<%- end -%>
  </div><!-- CLOSE TEMPLATE -->


