              <hr/>
<%- if hash_definition_list.nil? -%>
              <p class="nil">nil</p>
<%- else -%>
              <dl class="inline">
              <%- hash_definition_list.each do |k,v| -%>
                <dt><%= k.to_s.humanize %>:</dt>
                <dd><%= v %></dd>
              <%- end -%>
              </dl>
<%- end -%>
