<% form_for(:clinical_document, 
            :url => {
              :controller => 'test_plans',
              :action => 'doc_validate',
              :id => @test_plan.id },
            :html => {
              :multipart => true,
              :onSubmit => %[
                if ($("upload_#{@test_plan.id}").value.blank())
                  { alert("You must specify a file to upload."); return false }
                else return true
              ] }) do |f| -%>
  <dl>
    <dt>
      <label>Document Type</label>
    </dt>
    <dd>
      <%= f.select :doc_type, Validation.types %>
      <% if Validation.types.include?(Validation::CCR_TYPE.to_sym) -%>
      <p class="notice">Note that CCR validation is Beta functionality at present.</p>
      <% end -%>
    </dd>
    <dt>
      <label>Clinical Document</label>
    </dt>
    <dd>
      <%= f.file_field  :uploaded_data, :id => "upload_#{@test_plan.id}" %>
    </dd>
  </dl>
  <%= submit_tag 'Attach' %>
<% end -%>
